.close__btn{
    background: rgb(206, 206, 206);
    padding: 0.5em;
    color: white;
    border: 0;
}

.close__btn:hover{
    background:black;
}

.pop__up{
    display:none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation-name: animation__popup;
    animation-duration: 0.3s;
}

.popup__content{
    background-color: white;
    margin: 20% auto;
    padding: 2%;
    width: 50%;
    box-shadow: 0 5 8 0 rgba(0,0,0,0.5),0 7 20 0 rgba(0,0,0,0.8);
}

.btn-close{
    float: right;
}



.poster{
    filter: saturate(0.2);
}
.poster:hover{
    cursor: pointer;
    filter: saturate(1);
}

@keyframes animation__popup{
    from{opacity:0}
    to{opacity: 1;}
}

h6{
    font-size: small;
    color: grey;
}